@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    text-align: center;
    max-width: 1800px;
    margin: 0 auto;
    font-family: 'Fira Code', monospace;
    background-color: #f0f2f5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}
/* header section style */

header {
    text-align: center;
    margin: 50px auto;
}

h1#logo {
    font-weight: 900;
    font-size: 400%;
}

/* Main body style */

main {
    width: 70%;
    max-width: 800px;
    height: 65vh;
    max-height: 550px;
    text-align: center;
    margin: 10px auto;
    box-shadow: 5px 5px 15px 5px #888;
}

#navBar {
    width: 70%;
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 10px;
    text-align: left;
}

.scoreBoardSection,
.footerSection,
.socialIcon {
    flex: 1;
}

.btnCategory {
    flex: 1;
    display: inline-block;
    font-size: 200%;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btnCategory:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: scale(1.02);
}

.btnActive,
.btnActive:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#questionContainer {
    width: 85%;
    margin: auto;
    height: 162px;
    padding: 50px 0;
    font-size: 1.5rem;
    box-sizing: border-box;
}

#answerOptionContainer {
    height: 355px;
}

.options {
    width: 60%;
    border: solid 1px #ccc;
    margin: 5px auto;
    line-height: 4rem;
    border-radius: 5px;
    text-align: left;
    padding: 0 20px;
    background-color: #e7e7e7;
    box-shadow: inset 1px 1px 0 0 #fff;
    cursor: pointer;
}

.options:hover {
    background-color: #f0f2f5;
    transform: scale(1.02);
}

#scoreBoard {
    display: flex;
}


/* Footer section style */

footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #282a2b;
}

#footerContainer {
    display: flex;
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 10px 0px;
    color: #fff;
    text-shadow: 1px 2px 1px #000;
    font-size: 1.2em;
}

.footerSection ul {
    display: flex;
}

/* Mediaqueries for responsiveness */

@media screen and (max-width: 999px) {
    #navBar,
    main,
    #footerContainer {
        width: 85%;
    }

    .options{
        width: 70%;
    }
}