@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    text-align: center;
    /* max-width: 1800px; */
    margin: 0 auto;
    font-family: 'Fira Code', monospace;
    background-color: #f0f2f5;
}

ul {
    list-style-type: none;
}