@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    text-align: center;
    /* max-width: 1800px; */
    margin: 0 auto;
    font-family: 'Fira Code', monospace;
    background-color: #f0f2f5;
}

ul {
    list-style-type: none;
}

/* heading style */

header {
    text-align: center;
    margin: 50px auto;
}

h1#logo {
    font-weight: 900;
    font-size: 400%;
}

/* Main body style */

main {
    /* border: solid 1px black; */
    width: 70%;
    max-width: 800px;
    height: 65vh;
    max-height: 500px;
    text-align: center;
    margin: 20px auto;
    box-shadow:5px 5px 15px 5px #888;
}

#navBar {
    /* border: solid 1px black; */
    display: flex;
    margin: 0px auto;
    padding: 10px 0px;
}

.catagory,
.scoreBoardSection,
.footerSection,
.socialIcon {
    flex: 1;
}

.btnCatagory {
    font-size: 200%;
}

#questionContainer {
    width: 85%;
    margin: auto;
    padding: 50px 0;
    font-size: 1.5rem;
}

#scoreBoard {
    display: flex;
}


/* Footer style */

footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #282a2b;
}

#footerContainer{
    display: flex;
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 10px 0px;
    color: #8C8989;
    text-shadow: 1px 2px 1px #000;
    font-size: 1.2em;
}

.footerSection ul{
    display: flex;
}